
body { background-color: var(--background-purple); }

#navigation-title { color: var(--primary-blue); }

#navigation-back { background-color: var(--back-button-pink); }
#navigation-back:hover { background-color: var(--back-button-hover-pink); }

#main-container {
    margin: 0 auto;
    padding-top: 4em;
    max-width: 85em;
}

#selection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8%;
}

#selection-container > * {
    max-width: 22em;
    margin: 0em;
}

#selection-container .box {
    height: 10em;
    border-color: rgb(255, 255, 255);
    outline-color: rgba(0, 0, 0, 0.1);
}

#selection-container .box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

#selection-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-box-1 { background-color: var(--video-game-color); }
#product-box-1:hover { background-color: var(--video-game-hover-color); }

#product-box-2 { background-color: var(--mattress-color); }
#product-box-2:hover { background-color: var(--mattress-hover-color); }

#product-box-3 { background-color: var(--restaurant-color); }
#product-box-3:hover { background-color: var(--restaurant-hover-color); }

#product-box-4 { background-color: var(--shampoo-color); }
#product-box-4:hover { background-color: var(--shampoo-hover-color); }

#product-box-5 { background-color: var(--book-color); }
#product-box-5:hover { background-color: var(--book-hover-color); }

#coming-soon { color: var(--secondary-purple); }
