
body { background-color: var(--background-orange); }

#navigation-back { background-color: var(--back-button-pink); }
#navigation-back:hover { background-color: var(--back-button-hover-pink); }

#navigation-start { background-color: var(--play-button-blue); }
#navigation-start:hover { background-color: var(--play-button-hover-blue); }

#main-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#image-container {
    width: 37.5%;
}

#product-image {
    max-width: 95%;
    max-height: 400px;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#product-type-link p {
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.1em 0.2em;
}

#product-type {
    color: rgb(255, 120, 93);
}

#product-link {
    color: rgb(113, 108, 172);
}

#product-link:hover {
    color: rgb(82, 76, 132);
}

#product-description-box {
    width: 47.5%;
    max-width: 55em;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: 0.12em solid rgba(0, 0, 0, 0.1);
    outline-offset: -4px;
}

#product-description {
    text-align: justify;
    font-size: var(--text-size-smaller);
}

#product-description-box { border-color: var(--video-game-color); }
