
body { background-color: var(--background-orange); }

#title-message {
    margin-top: 3.1em;
}

#subtitle-message {
    font-size: var(--text-size-bigger);
}

#home-navigation-container {
    margin-top: 2.4em;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#home-navigation-container .button {
    margin: 1em;
    padding: var(--button-padding-big);
    
    color: white;
    font-size: var(--text-size-bigger);
    font-weight: normal;
    border: none;
}

#rules-button { background-color: var(--rules-button-orange); }
#rules-button:hover { background-color: var(--rules-button-hover-orange); }

#play-button { background-color: var(--play-button-blue); }
#play-button:hover { background-color: var(--play-button-hover-blue); }

#links-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#links-container a, #links-container span {
    font-size: 1.3em;
    font-weight: bold;
}

.link {
    color: var(--secondary-purple);
}

.link:hover {
    color: var(--primary-blue);
}

.separator {
    color: var(--primary-purple);
    padding: 0em 0.35em;
    user-select: none;
}
