
body { background-color: var(--background-purple); }

#buttons-container .button {
    padding: 0.5em 1.5em;
    margin: 0.75em;
}

#navigation-back { background-color: var(--back-button-pink); }
#navigation-back:hover { background-color: var(--back-button-hover-pink); }

#navigation-play { background-color: var(--play-button-blue); }
#navigation-play:hover { background-color: var(--play-button-hover-blue); }

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container .box {
    width: 80%;
    max-width: 50em;
    box-sizing: border-box;
    border-width: var(--border-width-big);
    background-color: white;
    outline-color: rgba(0, 0, 0, 0.1);
    font-size: 0.83em;
}

#main-container .box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

#main-container .box:nth-child(odd) {
    margin-left: 10%;
}

#main-container .box:nth-child(even) {
    margin-right: 10%;
}

#rule-box-1 { border-color: var(--rule-box-color-1); }
#rule-box-2 { border-color: var(--rule-box-color-2); }
#rule-box-3 { border-color: var(--rule-box-color-3); }
#rule-box-4 { border-color: var(--rule-box-color-4); }
#rule-box-5 { border-color: var(--rule-box-color-5); }
#rule-box-6 { border-color: var(--rule-box-color-6); }
#rule-box-7 { border-color: var(--rule-box-color-7); }

#footer-message {
    margin: 3.5em;
}
