
body { background-color: var(--background-orange); }

#navigation-exit { background-color: var(--exit-color); }
#navigation-exit:hover { background-color: var(--exit-color-hover); }

#main-container {
    margin: 0 auto;
    max-width: 54em;
}

#review-navigation-container {
    padding-left: 60%;
}

#review-navigation-container .button {
    font-size: var(--text-size-small);
    padding: var(--button-padding-small);
}

#review-skip { background-color: var(--continue-color); }
#review-skip:hover { background-color: var(--continue-color-hover); }

#review-box {
    background-color: var(--video-game-color);
    border-color: rgb(255, 255, 255);
    outline-color: rgba(0, 0, 0, 0.1);
}

#review-image {
    align-self: flex-start;
    width: 135px;
    height: auto;
    border-radius: 0.3em;
}

#review-title {
    display: none;
    margin: var(--text-margin-small);
}

#review-text {
    color: black;
}

#rating-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
}

#rating-container .button {
    width: 3.5em;
    margin: 0em;
    padding: var(--button-padding-smallest);
    
    color: white;
    background-color: var(--play-button-blue);
    border-color: var(--border-color-dark);
    border-radius: var(--border-radius-small);
}

#rating-container .button:hover { background-color: var(--rules-button-orange); }
#rating-container .button.selected { background-color: var(--rules-button-orange); }

#guess-button { background-color: rgb(236, 253, 181); }
#guess-button:hover { background-color: rgb(184, 233, 134); }

